*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: white;

}
.container{
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
}
.list_menu{
    display: flex;
    justify-content: space-between;
}
.list_item{
    display: flex;
    justify-content: space-around;
    width: 350px;
    list-style: none;

}
.item{
    padding: 5px;
}
.item:hover{
    background-color: rgb(214, 210, 210);
    color:black;
}
.icon{
    display: flex;
    align-items: center;
    margin: 0 5px 0 0;
}

.item>a{
    text-decoration: none;
}
.block_image>img{
    width: 100%;
    height: 60%;
}
#home{
    z-index: 0;
}
#band>header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  5px;
}
#band>header>h2{
    color: black;
    padding: 5px;
}
#band>header>p{
    color: black;
}
#band>main>p{
    color: black;
}
#band>footer{
    margin: 20px;
}
#band>footer{
    display: flex;
    justify-content: space-around;
}
.block_card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block_card>p{
    color: black;
    margin-bottom: 10px;
}

#model{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 42, 42, 0.555);
    
}
#tour{
    background-color: black;
}
.anh>header>h2{
    text-align: center;
    margin-bottom: 50px;
}
.anh>header>p{
    text-align: center;
    color:gray;
    font-style: italic ;
    margin-bottom: 50px;
}
.anh {
    padding:100px;
    height:900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cite{
    background-color: white;
    color:black;
    padding:10px;
    border: 1px solid gray;
}
.number{
    background-color: black;
    color:white;
    border-radius: 100%;
    padding: 5px 10px;
    /* padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px; */

}
.cite2{
    display: flex;
    justify-content: space-between;
}
.span_text
{
background-color:red;
color:white;
margin-left: 30px ;
padding: 5px;
}
.tour_footer{
    display:flex;
    justify-content: space-between;
}
.block_hiii{
    background-color: white;
    height: 250px;

    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding:20px;
}
.tua{
    color:black;
}
.ngay{
    color:gray;
}
.nut{
    background-color: black;
    color:white;
    justify-content: space-between;
    padding:5px
}

.card{
    width: 220px;
}
.trang>img{
    width: 220px;

}
.tuabai>h1{
    color:black;

}
.tuabai>p{
    color:gray;
    margin-top: 30px;
}
.tuabai{
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
    
}
.diadiem>ul>li{
    color:black;
    margin-top: 10px;
}
.diadiem>ul{
    list-style: none;
}
.diadiem>ul>li>i{
    color:black;
}
.noidung{
    display: flex;
    justify-content:space-around;
}
.gui{
    background-color: black;
    padding: 10px ;
    border: none;
}
.nhan{
    display: flex;
    justify-content:end;
    margin-top: 30px;

}
.chunghang{
    margin-bottom: 10px;
    display: flex;
    justify-content:space-between;
width: 410px;

}
.tinnhan{
    width: 410px;
    padding: 10px;
}
.name{
    padding: 10px;
}
.email{
    padding: 10px;
}

.gui:hover{
    background-color: rgb(176, 176, 176);
    color: black;
}
.end>img{
    margin-top: 50px;
    width: 100%;
}
.bieutuong>ul>li>i{
    color:black;
    margin-top: 30px;
}
.bieutuong>ul{
    display: flex;
    justify-content: center;
}
.w3>p{
    color:gray;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.w3>p>a{
    color:gray;

}
.lienket>li{
    background-color: white;
    color: black;
    padding: 5px;
}
.lienket>li:hover{
    background-color: rgb(171, 171, 171);
    color: white;
}


.item:last-child:hover .lienket{
    display: block;
}


#model{
    color: black;
    display: none;
}

.lienket{
   
    position: absolute;
    top: 30px;
    left: 280px;
    list-style: none;
    z-index: 3;
    display: none;
}
.tickets_1{
    color:white;
    background-color:rgb(18, 208, 186) ;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100px;
    width: 500px;
    font-size:30px;
    position: relative; 
    gap: 10px;
}
.xoa{
    position:absolute;
    right: 0;
    top: 0;
}
.tickets_2{
    color:black;
    background-color: white;
    display:flex;
    justify-content: left;
    align-items: center;
    height:50px;
    width: 500px;
    gap:0px;
    
}
.bxs-cart-alt{
    color:black;
   margin-left: 15px;
}
.tickets_3{
    color:gray;
    background-color: white;
    display: flex;
    justify-content:center;
    width: 500px;
    height:70px;

}

.nhap_1{
    color:gray;
    width:90%;
    height:50px;
    padding: 5px;

}
.tickets_4{
    color:black;
    background-color: white;
    display:flex;
    justify-content: left;
    align-items: center;
    height:50px;
    width: 500px;
    gap:0px;
}
.bxs-user{
    color:black;
   margin-left: 15px;
}
.tickets_5{
    color:gray;
    background-color: white;
    display: flex;
    justify-content:center;
    width: 500px;
    height:70px;
}
.nhap_2{
    color:gray;
    width:90%;
    height:50px;
    padding: 5px;
}
.tickets_6{
color:white;
background-color:white;
width: 500px;
    height:70px;
    display:flex;
    justify-content:center;
   
}
.nut_1{
    font-size:20px;
    justify-content:center;
    background-color:rgb(18, 208, 186);
    width:90%;
    height:70px;
    border:none;
}
.tickets_7{
    background-color: white;
    width:500px;
    height:90px;
    display:flex;
    justify-content:space-between;
    padding:20px;
}
.iconX{
    font-size: 20px;
    font-weight: bold !important;
}
.nut_2{
    background-color:red;
color:white;
width:90px;
    height:40px;
    font-size:20px;
    border:none;
}
.cuoi_1{
    color:black;

}
.cuoi_2{
    color:rgb(56, 144, 191)
}
.hien{
    margin:50 auto;
    width:500px;
}

